body{
   margin: 0;
   background-color: salmon;
   font-family: 'Rhodium Libre', serif;
}
nav{
  background-color: black;
  border-style: solid;
  height: 50px;
  margin:0px; 
}

.navBarElements{
  color: white;

  text-align: center;
  font-size: 35px;
  list-style: none;

  border-left: solid;
  height: 50px;
  width:19.68%;

  float: left;
}

  #homeicon{
      height: 40px;
      width: auto;
      padding-right: 250px;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: black;
  }

  .flex-container {
    display: flex;
    justify-content: center;    
  }
  
  .flex-container > div {
    width: 258px;
    margin: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
  }

  h1{
      text-align: center;
  }

  button{
      background-color: #C4C4C4;
      border: none;
      border-radius: 20px;
      width: 100px;
      height: 30px;
  }

  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;

  }
  .wrap{
      width: 800px !important;

  }

  .txtflds{
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
    background-color: #C4C4C4;
    border: none;
}

textarea{
    background-color: #C4C4C4;
    border: none;
}

.btn{
    width: 150px;
    border:none;
    height: 40px;
    background-color: #C4C4C4;
    border-radius: 20px;
}

.cntr{
    text-align: center;
}